body {
  font-family: 'Slabo 27px', serif;
  background-image: url("../bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#main {
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 25%;
	margin-bottom: 25%;
	text-align: center;
}